@keyframes blink-charging {
	70% {
		background-color: #02231c;
	}

	to {
		background-color: #11823b;
	}
}

@keyframes blink-warning {
	70% {
		color: #FD971F;
	}

	to {
		color: #FEED6C;
	}
}

@keyframes blink-critical {
	70% {
		color: #F92672;
	}

	to {
		color: #FF5995;
	}
}

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background-color: #282828;
	color: #a6e22e;
	font-family: Cantarell, Noto Sans;
	font-size: 18px;
	font-weight: bold;
}

#workspaces button {
	padding: 0 5px;
	color: #a6e22e;
}

#workspaces button.focused {
	color: #000;
	background: #a6e22e;
	border-radius: 15px;
}

#clock,
#custom-weather,
#keyboard-state,
#network,
#pulseaudio,
#battery,
#tray {
	padding-left: 8px;
	padding-right: 8px;
}

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: #FD971F;
}

#battery.critical {
	color: #F92672;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 0.5s;
	border-radius: 15px;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 0.5s;
	border-radius: 15px;
}

#battery.charging {
	animation-name: blink-charging;
	animation-duration: 0.5s;
	border-radius: 15px;
}

#custom-weather {
	color: #acada1;
	text-shadow: 0px 0px 4px #000000;
}






