* {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background-color: #282828;
	color: #a6e22e;
	font-family: Cantarell;
	font-size: 12px;
	font-weight: bold;
}

#tags button {
	padding: 0 5px;
	color: #a6e22e;
}

#tags button.occupied {
	color: #F92672;
	border-radius: 15px;
}

#tags button.focused {
	color: #000;
	background: #a6e22e;
	border-radius: 15px;
}
#tags button.urgent {
	color: #282828;
	background: #F92672;
	border-radius: 15px;
}

#workspaces button {
	padding: 0 10px;
	color: #a6e22e;
}

#workspaces button.current_output {
	color: #F92672;
	border-radius: 15px;
}

#workspaces button.focused {
	color: #000;
	background: #a6e22e;
	border-radius: 15px;
}
#workspaces button.urgent {
	color: #282828;
	background: #F92672;
	border-radius: 15px;
}

#tray,
#mpd,
#clock,
#custom-weather,
#keyboard-state,
#network,
#pulseaudio,
#custom-reboot,
#custom-shutdown,
#battery,
#tray {
	padding-left: 8px;
	padding-right: 8px;
} 

#battery.warning {
	color: #FD971F;
}

#battery.critical {
	color: #F92672;
}

#custom-weather {
	color: #acada1;
	text-shadow: 0px 0px 4px #000000;
	font-size: 14px;
}

#custom-reboot,
#custom-shutdown {

	color: #F92672;
}

