## GTK
# override gtk theme
 theme = "Redmond97"
# override gtk icon theme
 IconTheme = "kora-yellow"

# Select terminal emulator to use
Set Term = "gnome-terminal"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = true
  cols = 5
}

include("winops.widget")

layout {

  size = "100%"
  layer = "top"
  mirror = "*"
  exclusive_zone = "auto"
#  sensor = 300
#  monitor = "eDP-1"

  css = "* { min-height: 28px }"

  include("startmenu.widget")
button {
  style = "launcher"
  value = "menu"
  action = "wofi --show drun"
 }
 button {
  style = "launcher"
  value = "firefox"
  action = "firefox"
 }
button {
  style = "launcher"
  value = "steam"
  action = "steam"
 }
 button {
  style = "launcher"
  value = "nemo"
  action = "nemo"
 }
 button {
  style = "launcher"
  value = "terminal"
  action = "gnome-terminal"
  }

  taskbar {
    style = "taskbar"
    rows = 1;
    icons = true;
    labels = true;
    sort = false;
    title_width = 20;
#    filter = workspace;
    action[3] = Menu "winops"
    action[Drag] = Focus
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
  } 

  tray {
    rows = 1
  }

# include("battery-svg.widget")
 include("bluez.widget")
# include("idle.widget")
# include("rfkill-wifi.widget")
# include("rfkill-bt.widget")
# include("network-module.widget")
 include("volume.widget")
# include("mpd-intmod.widget")
# include("sway-lang.widget")

  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%k:%M")
      style ="clock"
    }
    label {
      value = Time("%x")
      style ="clock"
    }
  }
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

button,
button image {
  min-height: 0px;
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

label {
  font: 14px BlexMono;
}

image {
  -ScaleImage-symbolic: true;
}

button#startmenu,
button#module {
  border: none;
  padding: 3px;
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#startmenu image,
button#module image {
  min-height: 16px;
  min-width: 16px;
  padding: 0px;
  margin: 0px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  padding: 3px;
  border-radius: 3px;
  border-width: 0px;
  -GtkWidget-hexpand: false;
}

grid#taskbar > :not(:last-child) button#taskbar_normal:hover,
grid#taskbar > :not(:last-child) button#taskbar_active,
grid#taskbar > :not(:last-child) button#taskbar_normal {
  border-radius: 0px;
  border-right: 1px solid alpha(@theme_fg_color,0.15);
}

button#taskbar_active {
  background-color: rgba(199,227,255,0.6);
}

button#taskbar_normal:hover {
  background-color: rgba(213,213,213,0.6);
}

button#taskbar_normal grid,
button#taskbar_active grid,
button#taskbar_normal:hover grid {
  -GtkWidget-valign: center;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 20px;
  min-height: 20px;
  padding-right: 6px;
  -ScaleImage-symbolic: false;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_passive {
  -GtkWidget-visible: false;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  min-height: 16px;
  min-width: 16px;
  padding: 3px;
  margin: 0px;
  border: none;
}

label#clock {
  padding-left: 10px;
  padding-right: 10px;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  font: 10px Sans;
}

