* {
	font-family: Cantarell;
	font-size: 12px;
	}

#input {
	background-color: #282828;
	border-radius: 15px;
	color: #ebdbb2;
	}

#scroll {
	background-color: #282828;
	}

#text:selected {
	color: #282828;
	font-weight: bold;
	}

#unselected {
	color: #a6e22e;
	}

#entry:selected {
	background-color: #a6e22e;
	border-radius: 15px;
	color: #282828;
	}
